{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}



{% block content %}


<div class="grid-wrap">
    <div class="grid">
        {% if posts %}
            {% for blog in posts %}
                <a href="#" class="grid__item">
                <div class="grid__item-bg"></div>
                <div class="grid__item-wrap">
                <img class="grid__item-img" src="/media/original_images/{{ blog.image }}" alt="{{ image.alt }}" />
                </div>
                <h3 class="grid__item-title">{{ blog.title }}</h3>
                <h4 class="grid__item-number">{{ blog.introduction|truncatewords:15 }}</h4>
                </a>
                <div class="small footer">
                    {% if blog.date_published %}
                        {{ blog.date_published }} by 
                    {% endif %}
                    {% for author in blog.authors %}
                        {{ author }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div><!-- /grid-wrap -->
<div class="content">
    {% if posts %}
    {% for blog in posts %}

    <div class="content__item">
        <div class="content__item-intro">
            <img class="content__item-img" src="/media/original_images/{{ blog.image }}" alt="{{ image.alt }}" />
            <h2 class="content__item-title">{{ blog.title }}</h2>
            
        </div>
        <h3 class="content__item-subtitle">{{ blog.subtitle }}</h3>
        
        <div class="content__item-text">{{ blog.body }}</div>
        
        <div class="blog-meta">
        {% if blog.authors %}
        {% for author in blog.authors %}
               <div class="author comments-area">
                  <div class="author comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                           {% for author in blog.authors %}
                              {% image author.image fill-50x50-c100 class="blog-avatar" %}
                            {% endfor %}
                           </div>
                           <div class="desc">
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">{{ author.first_name }} {{ author.last_name }} </a>
                                    </h5>
                                    <p class="date">
                                        {% if blog.date_published %}
                                        <div class="blog-byline" style="max-width: 800px;margin: 0 auto;">
                                        Published on: {{ blog.date_published }}
                                        </div>
                                        {% endif %}
                                     </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}
               {% endif %}

        {% if blog.date_published %}
            <div class="blog-byline" style="max-width: 800px;margin: 0 auto;">
                Published on: {{ blog.date_published }}
            </div>
        {% endif %}
        </div>

        {% if blog.get_tags %}
        <div style="max-width: 800px;margin: 0 auto;">
            Tagged with:
            {% for tag in blog.get_tags  %}
                <a href="{{ tag.url }}" class="btn btn-sm">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% if blog.comments %}
            {% for comment in blog.comments  %}

            <div class="blog-avatars" style="max-width: 800px;margin: 0 auto;">

                <div class="author" >
                {% image comment.user.image fill-50x50-c100 class="blog-avatar" %}
                {{ comment.user.first_name }} {{ comment.user.last_name }}
                {{ comment.content }} | Written:
                {{ comment.created }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
               <div class="comments-area">
                  <h4>05 Comments</h4>
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                           {% for author in blog.authors %}
                              {% image author.image fill-50x50-c100 class="blog-avatar" %}
                            {% endfor %}
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                 Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">Emilly Blunt</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                       {% for author in blog.authors %}
                              {% image author.image fill-50x50-c100 class="blog-avatar" %}
                            {% endfor %}
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                 Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">Emilly Blunt</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                       {% for author in blog.authors %}
                              {% image author.image fill-50x50-c100 class="blog-avatar" %}
                            {% endfor %}                           </div>
                           <div class="desc">
                              <p class="comment">
                                 Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                 Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">Emilly Blunt</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
    </div><!-- /content__item -->
    {% endfor %}
    {% endif %}
    <button class="content__close">Close</button>
    <svg class="content__indicator icon icon--caret"><use xlink:href="#icon-caret"></use></svg>
</div>

{% endblock content %}
