<!DOCTYPE html>
<html lang="en" class='no-js'>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto+Condensed" rel="stylesheet">
    <link rel="icon" href="https://bookshop-images-f1492f08-f236-4a55-afb7-70ded209cb24.s3.eu-west-2.amazonaws.com/resources/logo-petite-portugaise-300.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />
    <title>Glob: talk is cheap, show me the code</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <link rel="manifest" href="{% static 'pwa/manifest.json' %}">
    <!-- ios support start -->
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-72x72.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-96x96.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-128x128.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-144x144.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-152x152.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-192x192.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-384x384.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-512x512.jpg' %}">
    <!-- overrides manifest.json theme-color -->
    <meta name="theme-color" content="#7dcbd8">
    <!-- colorize status bar -->
    <meta name="apple-mobile-web-app-status-bar" content="#7dcbd8">
    <!-- ios support end 
    <script>
      document.documentElement.className = document.documentElement.className.replace(
        "no-js",
        "js",
      );
    </script>-->
  </head>
  <body>
    
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <div id="root"></div>

    {% if FACEBOOK_KEY %}
    <!-- Facebook login functionality-->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{{FACEBOOK_APP_ID}}',
          cookie     : true,
          xfbml      : true,
          version    : 'v7.0'
        });
          
        FB.AppEvents.logPageView();   
          
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    {% endif %}

    <script async='true' src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script async='true' src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script async='true' src="{% static 'js/charming.min.js' %}"></script>
    <script async='true' src="{% static 'js/TweenMax.min.js' %}"></script>

    <script async='true' src="{% static 'js/anime.min.js' %}"></script>
    <script async='true' src="{% static 'frontend/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

