.DS_Store
*.pyc
*.log
*.swp
*.retry
*.bak
.env
*~
/logs
/data
.~*
common/CACHE
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
/env/
.env.development
node_modules
.mypy_cache/
/glob/frontend/static/frontend/main.js
