asgiref==3.2.7
aws-requests-auth==0.4.0
beautifulsoup4==4.6.0
boto3==1.9.189
botocore==1.12.33
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.5
django-cache-url==2.0.0
django-dotenv==1.4.2
django-modelcluster==5.0.1
django-modeltranslation==0.15
django-redis==4.11.0
django-storages==1.8
django-taggit==1.2.0
django-treebeard==4.3.1
djangorestframework==3.11.0
docutils==0.16
draftjs-exporter==2.1.7
html5lib==1.0.1
idna==2.9
jmespath==0.9.5
l18n==2018.5
Pillow==6.2.2
pkg-resources==0.0.0
psycopg2-binary==2.8.4
pudb==2019.2
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2020.1
redis==3.4.1
requests==2.23.0
s3transfer==0.2.1
six==1.14.0
sqlparse==0.3.1
Unidecode==1.1.1
urllib3==1.24.3
urwid==2.1.0
wagtail==2.8.1
wagtailfontawesome==1.1.4
wagtailtrans==2.1
webencodings==0.5.1
Willow==1.3
