anyascii==0.3.1
appdirs==1.4.4
asgiref==3.6.0
async-timeout==4.0.2
attrs==22.2.0
aws-requests-auth==0.4.3
beautifulsoup4==4.11.2
black==23.1.0
boto3==1.26.64
botocore==1.29.64
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
cryptography==39.0.0
defusedxml==0.7.1
Django==4.1.6
django-allauth==0.52.0
django-cache-url==3.4.4
django-cors-headers==3.13.0
django-dotenv==1.4.2
django-filter==22.1
django-modelcluster==6.0
django-modeltranslation==0.18.8
django-permissionedforms==0.1
django-redis==5.2.0
django-storages==1.13.2
django-taggit==3.1.0
django-treebeard==4.6.1
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
docutils==0.19
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
html5lib==1.1
idna==3.4
importlib-metadata==6.0.0
jedi==0.18.2
jmespath==1.0.1
l18n==2021.3
mypy==0.991
mypy-extensions==1.0.0
oauthlib==3.2.2
openpyxl==3.1.0
packaging==23.0
parso==0.8.3
pathspec==0.11.0
Pillow==9.4.0
platformdirs==2.6.2
pluggy==1.0.0
psycopg2-binary==2.9.5
pudb==2022.1.3
pycparser==2.21
Pygments==2.14.0
PyJWT==2.6.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.7.1
redis==4.4.2
requests==2.28.2
requests-oauthlib==1.3.1
s3transfer==0.6.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
tablib==3.3.0
telepath==0.3
toml==0.10.2
tomli==2.0.1
typed-ast==1.5.4
typing_extensions==4.4.0
Unidecode==1.3.6
urllib3==1.26.14
urwid==2.1.2
urwid-readline==0.13
wagtail==4.1.1
wagtailfontawesome==1.2.1
wagtailtrans==2.1
webencodings==0.5.1
Willow==1.4.1
xlrd==2.0.1
XlsxWriter==3.0.8
xlwt==1.3.0
zipp==3.12.1
