.grid-wrap {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 6rem 1rem 0;
}

.grid-wrap--hidden {
  height: 0;
  overflow: hidden;
}

.grid {
  margin: 0 auto;
  position: relative;
  display: none;
}

.js .grid {
  display: block;
}

.grid__item {
  width: 260px;
  position: relative;
  padding: 2.75rem;
  margin-bottom: 5rem;
}

.grid__item-wrap {
  position: relative;
}

.grid__item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--grid-item-bg);
}

.grid__item-img {
  pointer-events: none;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  outline: 1px solid transparent;
}

.grid__item:nth-child(even) .grid__item-img {
  transform: rotate3d(0, 0, 1, 4deg);
}

.grid__item:nth-child(odd) .grid__item-img {
  transform: rotate3d(0, 0, 1, -4deg);
}

.grid__item-title {
  font-weight: normal;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 0 0 1rem;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transform-origin: 0 50%;
}

.grid__item-number {
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2.65rem;
  margin: 0 0 0.15rem;
}

.grid__item-number > span {
  display: inline-block;
}

.content {
  margin: 0 auto;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  pointer-events: none;
  margin-top: 80px;
}

.js .content {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content__item {
  padding: 10rem 5vw 10rem;
  grid-area: 1 / 1 / 1 / 1;
}

.js .content__item {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
}

.js .content__item--current {
  height: auto;
  opacity: 1;
  padding: 3rem 5vw 10rem;
  pointer-events: auto;
}

.content__item-intro {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
}

.content__item-img {
  position: relative;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  grid-area: 1 / 1 / 1 / 1;
}

.js .content__item-img {
  visibility: hidden;
}
.hide-temporarily {
  visibility: hidden;
}

.content__item-title {
  position: relative;
  font-size: 7vw;
  line-height: 1;
  text-align: center;
  margin: 0;
  padding: 0 5vw;
  white-space: nowrap;
  padding: 2rem 0vw 2rem 0vw;
  /* grid-area: 1 / 1 / 1 / 1; */
}

.content__item-title > span {
  white-space: pre;
  display: inline-block;
}

.content__item-subtitle {
  text-align: center;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 3rem auto;
}

.content__item-text {
  text-align: justify;
  max-width: 1000px;
  margin: 0 auto;
}

.content__item-text p {
  margin: 0;
}

.content__close {
  position: absolute;
  top: 0.75rem;
  left: 50%;
  z-index: 10000;
  transform: translateX(-50%);
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--color-text);
}

.content__close:focus {
  outline: none;
}

.content__item--current ~ .content__close {
  pointer-events: auto;
}

.block-image_block img {
  width: 100%;
  height: 100%;
}

.block-block_quote blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 20px;
  border-left: 5px solid #e3e1e1;
}
.block-block_quote footer {
  font-style: italic;
  font-size: 17.5px;
}

.content__indicator {
  position: absolute;
  top: calc(100vh - 6rem);
  left: calc(50% - 0.75rem);
  display: none;
}

.js .content__item-title > span,
.js .content__item-subtitle,
.js .content__item-text,
.content__close,
.content__indicator {
  opacity: 0;
}

@media screen and (min-width: 55em) {
  .frame {
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: 40% 60%;
    grid-template-areas: "title header";
  }
  .codrops-header {
    grid-area: header;
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    text-align: left;
  }
  .codrops-links {
    margin: 0 0 0 1.5rem;
  }
  .title {
    grid-area: title;
    display: flex;
    text-align: left;
  }
  .title__sub {
    position: relative;
    padding: 0 0 0 5rem;
    margin: 0 0 0 1rem;
  }
  .title__sub::before {
    content: "";
    height: 1px;
    width: 4rem;
    background: currentColor;
    position: absolute;
    top: 0.65rem;
    left: 0;
  }
  .title__sub-works {
    display: block;
  }
  .grid__item-number {
    right: -2.45rem;
  }
  .grid__item-title {
    margin-left: -0.25rem;
  }
  .content__item-subtitle {
    font-size: 3vw;
  }
  .content__item-text {
    column-count: 2;
    column-gap: 20px;
  }
  .content__item-img {
    max-width: none;
    height: calc(100vh - 6rem);
  }
  .content__item-subtitle {
    max-width: 50%;
  }
  .content__indicator {
    display: block;
  }
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.desc {
  display: flex;
}

.tags {
  background: transparent;
  border-top: 1px solid #eee;
  padding: 25px 0;
  margin-top: 50px;
  text-align: justify;
  max-width: 1000px;
  margin: 0 auto;
}
.authors-area {
  background: transparent;
  border-top: 1px solid #eee;
  padding: 25px 0;
  margin-top: 50px;
  text-align: justify;
  max-width: 1000px;
  margin: 0 auto;
}
