/* override bootstrap */
@media screen and (min-width: 992px) {
  #navbarResponsive {
    display: none !important;
  }
  #navbarResponsive.show {
    display: flex !important;
  }
  .navbar-toggler {
    display: flex !important;
  }
  .navbar-toggler button {
    cursor: default !important;
    pointer-events: all !important;
  }
}

.bg-transparent {
  background-color: #0ff0;
}

.navbar .container {
  max-width: 90vw;
  margin-right: 10vw;
  margin-left: 10vw;
  padding-right: 0px;
  padding-left: 0px;
}

.navbar i {
  color: #ccc;
}

.navbar .navbar-toggler-icon {
  display: flex;
  align-items: center;
}
