{% load navigation_tags static wagtailuserbar %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}

{% block messages %}
    {% include "includes/messages.html" %}
{% endblock messages %}




{% block breadcrumbs %}
    {# breadcrumbs is defined in base/templatetags/navigation_tags.py #}
    {% breadcrumbs %}

{% endblock breadcrumbs %}

<main role="main">
    {% block content %}
    {% endblock content %}
</main>

    <hr>

    <!-- Footer -->
    <footer>
        {% include "includes/footer.html" %}
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    {% load static %}

    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/charming.min.js' %}"></script>
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/jquery.flagstrap.min.js'%}"></script>
    <script src="{% static 'js/builddropdown.js'%}"></script>

    <script src="{% static 'js/prism.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
</body>

</html>
